@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
body {
  background-color: #ffffff;
  overflow-x: hidden;
}

.nav {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px 0px 30px;
}

.logo {
  width: 80px;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.default_btn {
  border: 1px solid #FC8019;
  height: 45px;
  padding: 0px 20px;
  color: #000;
  border-radius: 10px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  cursor: pointer;
  font-size: 13px;
  background-color: #ffffff;
  outline: none;
}

.show_pro_img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.mind_pro_img {
  height: 100px;
  width: 100px;
  border-radius: 50px;
}

.default_btn:hover {
  background-color: #FC8019;
  color: #fff;
}

.top-content {
  margin: 0px 0px 0px 30px;
  overflow: hidden;
}

.front-left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.front-span {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 1.5px;
  line-height: 1.5;
  color: #202020;
}

.front-span-highlight {
  color: #FC8019;
}

.front-span-imgC {
  background-color: #FFD0D0;
  border-radius: 30px;
  padding: 0px 30px 0px 30px;
}

.front-span-img {
  width: 40px;
}

.front-right-container {
  width: 100%;
  padding: 0px;
}

.right-content {
  display: flex;
  gap: 20px;
  align-items: center;
  width: 100%;
}

.front-img-card:first-child img {
  width: 340px;
  height: 550px;
  border-radius: 20px;
  cursor: pointer;
}

.front-img-card:nth-child(2) img {
  width: 300px;
  height: 500px;
  border-radius: 20px;
  cursor: pointer;
}

.front-img-card:nth-child(3) img {
  width: 300px;
  height: 450px;
  border-radius: 20px;
  cursor: pointer;
}

.front-img-card-flipping {
  transition-duration: 1s;
  transition: transform 0.6s;
  transition-delay: 2s;
  transition-property: rotateY(360deg);
}

.span_heading {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: #202020;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.show_spl {
  margin-top: 30px;
}

.show_grid {
  padding: 0px 40px 0px 40px;
}

.show_container {
  display: flex;
  justify-content: space-between;
}

.product-card-container {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.product-card {
  height: 400px;
  width: 280px;
  border-radius: 10px;
  background-color: #F8F8F8;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 20px 0px 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px #ebebed;
}

.product-img {
  height: 74%;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.product-name {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: #202020;
}

.product-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-cusine {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #808080;
}

.product-add {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #202020;
}

.search_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  height: 100px;
  width: 100%;
  background-color: #FC8019;
  gap: 25px;
}

.label_text {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: #ffffff;
  font-weight: 500;
}

.label_input {
  width: 400px;
  height: 40px;
  border-radius: 10px;
  padding: 0px 20px;
  border: 1px solid #ffffff;
  outline: none;
  display: flex;
  align-items: center;
}

#food_search {
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  color: #ffffff;
  font-weight: 300;
  background: none;
}

#food_search::placeholder {
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 300;
}

.search_container_btn {
  height: 40px;
  border-radius: 10px;
  padding: 0px 20px 0px 20px;
  background-color: #000000;
  color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.mind_container {
  padding: 30px 50px 0px 50px;
}

.span_heading_1 {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: #202020;
  margin-bottom: 20px;
}

#mind_food {
  display: flex;
  gap: 20px;
}

.mind_show_categ {
  width: 210px;
  height: 185px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;
  background-color: #F8F8F8;
}

.mind_img {
  border-radius: 56px;
  width: 100px;
  height: 100px;
}

.food_name {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 500;
  color: #202020;
}

.search_res {
  padding: 15px 0px 15px 0px;
}

.show_res {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.search_res_container {
  width: 330px;
  height: 100px;
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #F8F8F8;
  border-radius: 10px;
  cursor: pointer;
}

.search_res_img {
  width: 80px;
  height: 80px;
  border-radius: 10px;
}

.search_con_r {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 15px;
  width: 100%;
}

.food_name_g {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 500;
  color: #808080;
}

.search_con_rate {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.footer {
  height: 100px;
  width: 100%;
  background-color: #FC8019;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer_content {
  display: flex;
  gap: 20px;
}

.footer_span {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  cursor: pointer;
}

.footer_img {
  width: 65px;
}

.hide_div {
  display: none;
}

.show_div {
  display: block;
}

.checkout_container {
  height: 200px;
  width: 100%;
  background-color: #202020;
}

.checkout_main {
  padding: 10px 30px 10px 30px;
  height: 100%;
  gap: 20px;
}

.checkout_img {
  width: 70%;
  height: 100%;
  border-radius: 10px;
  border: 1px solid white;
}

.checkout_content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.checkout_m_show {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #ffffff;
}

.checkout_c_show {
  font-size: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #ffffff;
}

.checkout_others {
  display: flex;
  gap: 10px;
}

.info-container {
  display: flex;
  align-items: center;
  border-radius: 8px;
  justify-content: space-around;
}

.info-block {
  text-align: center;
}

.star {
  color: #00c853;
  font-size: 18px;
  margin-right: 4px;
  vertical-align: middle;
}

.rating {
  font-size: 16px;
  font-weight: bold;
  color: #F8F8F8;
  vertical-align: middle;
}

.subtext {
  font-size: 12px;
  color: #F8F8F8;
  margin-top: 4px;
}

.divider {
  width: 1px;
  height: 40px;
  background-color: #F8F8F8;
  margin: 0 20px;
}

.checkout_container_bottom {
  padding: 40px 30px 10px 30px;
}

.checkout_offer_c {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  border: 1px dashed #FC8019;
  flex-direction: column;
  border-radius: 10px;
  color: #F8F8F8;
  padding: 20px;
  gap: 20px;
  font-size: 13px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.checkout_left {
  display: flex;
  gap: 20px;
  height: 100%;
}

.checkout_goback {
  width: 30%;
  color: #FC8019;
  cursor: pointer;
}

.checkout_o_span {
  padding-left: 15px;
}

.checkout_d_insideL {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.checkout_d_span1 {
  font-size: 15px;
  color: #202020;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.checkout_d_span2 {
  font-size: 15px;
  color: #808080;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.checkout_d_insideR {
  display: flex;
  justify-content: center;
}

.checkout_d_insideR_img {
  width: 100px;
  height: 100px;
  border: 1px solid #000000;
  border-radius: 10px;
}

.checkout_b_rigth {
  width: 80%;
}

.cart_container {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: #202020;
  display: flex;
  flex-direction: column;
}

.cart_head {
  padding-bottom: 40px;
  text-align: center;
}

.cart_highlight {
  color: #FC8019;
}

.card_categ {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
}

.cart_company_name {
  padding-bottom: 20px;
}

.cart_food_container {
  display: flex;
  flex-direction: column;
}

.cart_food_amt {
  color: #808080;
}

.cart_qty {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cert_padding {
  padding-bottom: 20px;
}

.cart_qty_container {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.cart_subtot {
  font-size: 20px !important;
  font-weight: 500 !important;
}

.cart_sub {
  display: flex;
  flex-direction: column;
}

.cart_desc {
  font-weight: 400 !important;
  font-size: 14px !important;
  color: #808080;
}

.hide_span {
  display: none;
}

.cart_btn {
  width: 100%;
  height: 50px;
  background-color: #FC8019;
  color: #F8F8F8;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  outline: none;
  border: none;
}

.show_cart_container {
  padding: 0px 30px 0px 30px;
  display: flex;
  justify-content: space-between;
}

.show_cart_delivery {
  background-color: #F8F8F8;
  border-radius: 10px;
  width: 65%;
  height: 88vh;
}

.set_label_width {
  width: 100%;
  text-align: center;
  padding-top: 10px;
}

.sc_order_sum {
  background-color: #F8F8F8;
  border-radius: 10px;
  width: 30%;
  height: 88vh;
}

.sc_container {
  max-width: 800px;
  margin: auto;
}

.sc_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 30px;
}

.sc_group {
  display: flex;
  flex-direction: column;
}

.sc_label {
  font-size: 14px;
  margin-bottom: 5px;
  color: #444;
  font-family: "Poppins", sans-serif;
}

.sc_input, .sc_select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

.sc_input:disabled {
  background-color: #f5f5f5;
  color: #999;
}

.sc_group_full {
  grid-column: span 2;
}

.show_cart_main {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #F8F8F8;
  border-radius: 10px;
}

.show_cart_left {
  width: 80%;
  height: 100%;
  display: flex;
}

.show_cart_right {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
